<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extension>
		<add assembly="Nlog.Web.AspNetCore"/>
	</extension>
	
    <targets>
        <target name="logfileAll" xsi:type="File" fileName="allLog.txt"
				layout="${longdate} ${callsite} ${level} ${message}"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="logfileAll" />
    </rules>
</nlog>